*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
/* 
body{
    background-color: aqua;
} */

/* font */
.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}


/* common style */

.container {
    border: 2px solid darkred;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.common-btn {
    background: #FFDC26;
    border: 1px solid transparent;
    padding: 10px 30px;
    font-size: 20px;
    color: #111111;
    border: none;
    outline: none;
    gap: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}

.side-title {
    font-size: 36px;
    color: #111111;
    padding-top: 140px;
    padding-bottom: 48px;
}


/* body */
body {
    background: #FFFFFF;
}


header {
    background: #FFF9F4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 32px;
}

.nav-items li {
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: #111111;
    font-size: 20px;
    font-weight: 400px;
}

.nav-right {
    display: flex;
    gap: 12px;
    align-items: center;
}




.nav-right .btn-login {
    padding: 10px 30px;
    font-size: 20px;
    color: #111111;
    outline: none;
    gap: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
    background: transparent;
    border: 1px solid #FFDC26;}



.nav-right .btn-login:hover {
        background: #FFDC26;
    border: 1px solid transparent;
    }
  

.common-btn:hover {
        background: transparent;
    border: 1px solid transparent;
}

/* banner section */

.banner {
    padding-top: 76px;
    height: 749px;
    background: url(../assets/banner.png);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-content {
    max-width: ;

}

.banner-content h1 {
    font-size: 56px;
    color: #000000;
}
.banner-content p {
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    padding-top: 16px;
    padding-bottom: 24px;
}


/* catagory */

.category-card-main {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 24px;
    padding-bottom: 126px;
}

.category-card {
    background: #F9DF8A;
    width: 200px;
    height: 254px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-img {
    width: 104px;
    height: 104px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-card h5 {
    padding-top: 24px;
    padding-bottom: 12px;
    font-size: 20px;
    color: #000000;
}
.category-card p {
    font-size: 16px;
    color: #000000;
}


